

<h1>{{route}}</h1>

<div class="routes">
    <div class="thisStop">
        <h2>
            Routes:
        </h2>
        <ul>
            <li *ngFor="let reitti of reittiTaulukko">
                <a [href] = "placeUrl">{{reitti.name}}</a>
                <p><span [class]="reitti.directionId | directionClass">{{reitti.directionId | routeDirection}}{{reitti.route.longName}}</span></p>
            </li>
        </ul>
    </div>
    <iframe class="e2e-iframe-trusted-src" [src]='mapSource' width="600" height="450" frameborder="0"  allowfullscreen>
    </iframe>
</div>

<div>
    <h2 class="title">{{ title }}</h2>
    <div class="agmMap">
        <agm-map [latitude]="lat" [longitude]="lon" [zoom]="15" mapTypeId="satellite">
            <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
        </agm-map>
    </div>
</div>