
h1{
  text-align: center;
  color: rgba(46, 29, 108, 0.73);
  padding: 2rem;
}
h2{
  color: rgba(46, 29, 108, 0.73);
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
li {
  list-style-type: circle;
}
a{
  color: rgba(46, 29, 108, 0.73);
}
p{
  color: rgba(57, 77, 114, 0.75);
}
button{
  font-size: 150%;
  background-color: rgba(57, 77, 114, 0.75);
  color: aliceblue;
  border: 1rem;
}
iframe{
  border: 0.1rem solid rgba(57, 77, 114, 0.75);
  padding: 0.05rem;
  background-color: rgba(57, 77, 114, 0.75);
  margin-left: 4rem;
}

.routes{
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}
agm-map {
  height: 300px;

}
.agmMap {
  padding: 0.05rem;
  border: 0.1rem solid rgba(57, 77, 114, 0.75);
  background-color: rgba(57, 77, 114, 0.75);
}
.title{
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 2rem;
}

.coming{
  color: rgba(45, 126, 135, 0.82);
}

.going {
  color: rgba(57, 77, 114, 0.75);

}

@media screen and (max-width: 699px){

  .thisStop {
    width: 100%;
    margin-bottom: 2rem;
  }
  .routes{
    flex-direction: column;
    margin:0;
  }
  iframe{
    width: 100%;
    margin:0;
  }
  .title{
    margin-top: 1rem;
  }

}