ul{
  width:15%;
  border: 0.1rem solid rgba(57, 77, 114, 0.75);
  background-color: rgba(46, 29, 108, 0.1);
  padding: 1rem;
  margin-left: 5rem;
}

li {
  list-style: none;
  font-size: 150%;
  padding: 0.4rem;
}
a {
  text-decoration: none;
  color: rgba(46, 29, 108, 0.73);

}